/*ヘッダーの設定*/
.headline>a {

    width: 100%;
    margin: 0auto;

    font-size: 50px;
    text-decoration: none;
    font-family: serif;

}


/*ボディの設定*/
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

/*フッターの設定*/
footer {
    background-color: azure;
}

ul {
    /* liを使用時の冒頭の点を消す*/
    list-style: none;

}


.nav-list a {

    /* リンクの下線を消す */
    text-decoration: none;
}

/*リストの文字サイズ*/
.nav-list {
    display: flex;
    font-size: 20px;
}

/*リンクにマウスを当てている時*/
a:hover {
    color: black;
}

/*リンクをクリック後*/
a:visited {

    color: black;
}


/*boostrapフォーム設定*/
.form-group form-control {
    color: black;
}

.nav-list-item {
    font-size: 20px;
}

a {
    /* リンクの色 */
    color: black;
}



img {
    width: 30%;
    display: block;
}

.nav-list>li {
    margin-right: 50px;
}